<mat-card>
  <mat-card-header>
    <mat-card-title>Alterar Cliente</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field class="input" id="name">
      <mat-label>Nome</mat-label>
      <input
      placeholder="Nome do cliente"
        matInput
        type="text"
        [(ngModel)]="name"
      />
    </mat-form-field>

    <mat-form-field class="input" id="cpf">
      <mat-label>CPF</mat-label>
      <input
        placeholder="Ex: 125.125.456-78"
        matInput
        type="text"
        [(ngModel)]="cpf"
      />
    </mat-form-field>

    <mat-form-field class="input" id="phone">
      <mat-label>Telefone</mat-label>
      <input
        placeholder="41 6523-7896"
        matInput
        type="text"
        [(ngModel)]="phone"
      />
    </mat-form-field>

    <mat-form-field class="input" id="email">
      <mat-label>Email</mat-label>
      <input
        placeholder="Email"
        matInput
        type="text"
        [(ngModel)]="email"
      />
    </mat-form-field>

    <mat-form-field class="input" id="address">
      <mat-label>Endereço</mat-label>
      <mat-select [(ngModel)]="addressId">
        <mat-option
          *ngFor="let a of addresses"
          [value]="a.addressId"
        >
          {{ a.cep }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="voltar()">
      Voltar
    </button>
    <button color="warn" mat-stroked-button (click)="alterar()">
      Alterar
    </button>
  </mat-card-actions>
</mat-card>