<!-- Barra de ferramentas -->
<mat-toolbar color="primary">
  <button class="menu" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon> menu </mat-icon>
  </button>
  <span>PetsCao</span>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <a> <!--ANIMAL-->
        <button mat-button routerLink="/pages/animal/animal-list">
          <mat-icon class="icon">pets</mat-icon> Animals
        </button>
      </a>
      <br>
      <a> <!--CUSTOMER-->
        <button mat-button [matMenuTriggerFor]="customerMenu">
          <mat-icon class="icon"><span class="material-symbols-outlined">
            account_circle
            </span></mat-icon> Customer
        </button>
        <mat-menu #customerMenu="matMenu" yPosition="below">
          <button mat-menu-item routerLink="/pages/customer/customer-list">
            <mat-icon class="icon">lists</mat-icon> List Customers
          </button>
          <button mat-menu-item routerLink="/pages/customer/customer-register">
            <mat-icon class="icon">add_circle</mat-icon> Register Customers
          </button>
        </mat-menu>
      </a>
      <br>
      <a> <!--ADDRESS-->
        <button mat-button [matMenuTriggerFor]="customerMenu">
          <mat-icon class="icon">location_on</mat-icon> Address
        </button>
        <mat-menu #customerMenu="matMenu" yPosition="below">
          <button mat-menu-item routerLink="/pages/customer/customer-list">
            <mat-icon class="icon">lists</mat-icon> List Address
          </button>
          <button mat-menu-item routerLink="/pages/customer/customer-register">
            <mat-icon class="icon">add_circle</mat-icon> Register Address
          </button>
        </mat-menu>
      </a>
      <br>
      <a> <!--EMPLOYEE-->
        <button mat-button [matMenuTriggerFor]="customerMenu">
          <mat-icon class="icon">support_agent</mat-icon> Employee
        </button>
        <mat-menu #customerMenu="matMenu" yPosition="below">
          <button mat-menu-item routerLink="/pages/customer/customer-list">
            <mat-icon class="icon">lists</mat-icon> List Employee
          </button>
          <button mat-menu-item routerLink="/pages/customer/customer-register">
            <mat-icon class="icon">add_circle</mat-icon> Register Employee
          </button>
        </mat-menu>
      </a>
      <br>
      <a> <!--TIMELINE-->
        <button mat-button [matMenuTriggerFor]="customerMenu">
          <mat-icon class="icon">calendar_month</mat-icon> Timeline
        </button>
        <mat-menu #customerMenu="matMenu" yPosition="below">
          <button mat-menu-item routerLink="/pages/customer/customer-list">
            <mat-icon class="icon">lists</mat-icon> List Timeline
          </button>
          <button mat-menu-item routerLink="/pages/customer/customer-register">
            <mat-icon class="icon">add_circle</mat-icon> Register Timeline
          </button>
        </mat-menu>
      </a>
    </mat-nav-list>
    <!-- <a routerLink="/pages/produto/cadastrar"> Cadastrar </a> -->
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <!-- Conteúdo -->
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
