.menu{
    background-color: transparent;
    color: white;
    border: none;
    margin: 10px;
}

.container{
    height: calc(100% - 64px);
}

.item{
    display: flex;
    align-items: center;
}

.icon{
    margin-right: 6px;
}

.content{
    padding: 8px;
}